<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Canteen Staff Management{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container">

<a class="navbar-brand" href="/">
🍽️ Canteen Staff
</a>

<div>

<a href="/" class="btn btn-light btn-sm">
<i class="bi bi-people-fill"></i> Staff
</a>

<a href="/attendance/" class="btn btn-warning btn-sm">
📅 Attendance
</a>
<a href="/event/" class="btn btn-info btn-sm me-2">
    🎉 Events
</a>

<a href="/salary/" class="btn btn-success btn-sm">
💰 Salary
</a>


</div>

</div>
</nav>

<div class="container mt-4">

{% block content %}

{% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container">
        <p class="mb-0">
            © 2026 Canteen Staff Management System |
            Developed by <strong>Sushant Kulkarni</strong>
        </p>
    </div>
</footer>

</body>
</html>